# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\220316java班资料\代码\hsteachersystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
